---
import {getCollection} from 'astro:content';
import Layout from "../../layouts/Layout.astro";
import Main from "../../components/Main.astro";
import Prose from "../../components/Prose.astro";

export async function getStaticPaths() {
    const blogEntries = await getCollection('blog');
    return blogEntries.filter(entry => entry.data.publishDate !== undefined).map(entry => ({
        params: {slug: entry.slug}, props: {entry},
    }));
}

const {entry} = Astro.props;
const {Content} = await entry.render();
---
<Layout title={entry.data.title + " | builtbylukas.dev"} page="/blog" description={entry.data?.description}
        keywords={entry.data.tags.join(', ')} url={`https://builtbylukas.dev/blog/${entry.slug}`}>>
    <Main>
        <Prose>
            <Content/>
        </Prose>
    </Main>
</Layout>
