---
import HeaderLink from "../components/HeaderLink.astro";
interface Props {
	title: string;
	page: string;
	url?: string,
	description?: string,
	type?: "article",
	keywords?: string
}

const {title, page, description, type, url, keywords} = Astro.props;

function getCurrentYear() {
	const date = new Date();
	return date.getFullYear();
}

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Personal website of software developer Lukas Karsch"/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml"/>
		<meta property="og:title" content={title || "builtbylukas.dev"}>
		<meta property="og:description" content={description || "Building online | builtbylukas.dev"}>
		<meta property="og:type" content={type ?? "article"}>
		<meta property="og:url" content={url}>
		<meta name="keywords"
			  content={(keywords ?? "") + ", coding, building, javascript, typescript, chrome extension"}>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
	<header class="m-auto mt-12 px-2 w-[800px] max-w-[calc(100%-2rem)]">
		<ul class="flex gap-4 justify-end">
			<HeaderLink page={page} href="/" title="Home"/>
			<HeaderLink page={page} href="/about/" title="About"/>
			<HeaderLink page={page} href="/blog/" title="Blog"/>
		</ul>
	</header>
		<slot />
	<footer
		class="m-auto mt-8 px-2 py-8 w-[800px] max-w-[calc(100%-2rem)] text-zinc-500 grid grid-cols-2 md:grid-cols-3 text-sm gap-4">
		<div>
			<p>Copyright Lukas Karsch, {getCurrentYear()}.</p>
			<p>Built with Astro</p>
		</div>
		<div>
			<p><a href="#" class="hover:underline">Impressum</a></p>
		</div>
		<div>
			<p><a href="https://x.com/builtbylukas/" target="_blank" class="hover:underline">x.com/builtbylukas</a></p>
		</div>
	</footer>
	</body>
</html>
<style is:global>
	:root {
		--accent: 159, 18, 57;
		--accent-light: 225, 29, 72;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		color: white;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
